<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!---<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <link rel="stylesheet" href="style.css">--->
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>



<script>
const jokeEl = document.getElementById("joke")
const jokeBTN = document.getElementById("jokeBtn")

jokeBTN.addEventListener('click', generateJoke)

generateJoke()

// USING ASYNC/AWAIT
async function generateJoke() {
    const config = { 
        headers:{
            'Accept': 'application/json'
            } }
    
    const response = await fetch('https://icanhazdadjoke.com', config)
    const data = await response.json()
    jokeEl.innerHTML = data.joke
}
</script>




    <title>Dad Jokes</title>
</head>
<body>
    <div class="container">
        <h3>Don't Laugh Challenge</h3>
        <div id="joke" class="joke">//Joke goes here</div>
        <button id="jokeBtn" class="btn">Get Another Joke</button>
    </div>
    <script src="script.js"></script>

</body>
</html>